.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
}
.contact{
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.img_inst{
    padding-right: 10px;
    max-height: 25px;
    max-width: 25px;
}
.img_telegram {
    margin-left: 60px;
    padding-right: 10px; 
    max-height: 25px;
    max-width: 25px;
}

.telegram{
    color: black;
}
.instagram{
    color: black;
}

.img_logo{
    padding-right: 50px;
    max-height: 150px;
    max-width: 220px;
}
.burg_class{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.carousel {
    width: 60%;
    margin: auto;
    padding-bottom: 20px;
}
.menu_burger{
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin: auto;
    height: 250px;
}
.img_burger{
    max-width: 40%;
    margin: auto;
    display: flex;
    border-radius: 40px;
}
.img_box{
    display: flex;
    border-radius: 40px;
}
.title{
   text-align: center;
    margin-bottom: 10px;
}
.btn-primary.btn{
    background: black;
    border-color: black;
}
.btn-primary.btn:hover{
    background: white;
    color: black;
    border-color: black;
}
.section_burger{
    text-align: center;
}
